.EntriesContainer {
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.AllEntriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 3%;
    width: 50%;
}

.ListContainer {
    margin-right: 15%;
    width: 100%;
}

.SelectedContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.Border {
    width: 100%;
    height: 10px;
    background-image: url(https://tetra-cube.com/dnd/dndimages/statblockbar.jpg);
}

.Info {
    background-image: url(https://tetra-cube.com/dnd/dndimages/statblockparch.jpg);
    padding: 2%;
    font-family: 'Libre Baskerville';
}

.NameAndEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Description {
    color: black;
    font-style: italic;
}

.AbilityScores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100;
}

.StatContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.TextField {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Title {
    margin-top:1%;
    margin-bottom: 1%;
    margin-right: 25%;
}

.Edit {
    color: #7A200D;
    font-size: large;
}

.Abilities {
    display: flex;
    flex-direction: row;
}

.Abilities p {
    margin: 1%;
}

.AbilityField {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}


h3 {
    color:#7A200D;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    color: #7A200D;
    font-weight:800;
    margin: 1%;
}

p {
    color: #7A200D;
    font-weight: 100;
    margin:0;
    font-size: .9rem;
}